* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
}

body {
    background-image: url(../img/bg.png);
}

header {
    text-align: center;
    border-bottom: 2px solid white;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 25px;
    margin-bottom: 80px;
}

header > h1 {
    margin-bottom: 15px;
}

header > p {
    font-size: larger;
}

main {
    display: flex;
    justify-content: space-around;
    align-self: flex-end;
    flex-wrap: wrap;
}

.category {
    border: 2px solid white;
    width: 400px;
    padding: 15px 20px;
    background-color: rgba(0, 0, 0, 0.8);
    margin-bottom: 50px;
}

.category > h2 {
    margin-bottom: 10px;
}

.game {
    margin-bottom: 6px;
}
